<footer>
    <div class="f-info">
        <div class="f-social">
            <a href="https://www.airbnb.co.in/"><i class="fa-solid fa-globe"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        </div>
        <div>&copy; Project Manager Limited</div>
        <div class="f-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</footer>