<% layout("/layouts/boilerplate") %>
<%= console.log(err);  %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Oops !</strong> <%= err.message %>
  
  </button>
</div>