<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root Page</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <form method="get" action="/listings">
        <button name="add-button btn">Enter Airbnb</button>
    </form>
</body>
</html>