
<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
    <h3>New listing Page</h3>
    <form method="post" action="/listings?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div>
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" class="form-control" placeholder="Add catchy title" required/>
        <div class="valid-feedback">
            Looks Good!!
        </div>
        <div class="invalid-feedback">
           Title Mandatory
        </div>
        <br>
        </div>

        <div>
            <label for="description" class="form-label" >Description</label>
        <textarea name="listing[description]" id="" cols="30" rows="5" class="form-control" required placeholder="Describe your uniquiness"></textarea>
        <div class="invalid-feedback">
           Description needed
        </div>
        <br>
        </div>

        <div>
        <label for="image" class="form-label" >Upload Image</label>
        <input required type="file" name="listing[image]" cols="30" rows="2" class="form-control"/>
        <div class="invalid-feedback">
            Image Mandatory
         </div>
        <br>
        </div>

        <div>
            <label  for="price" class="form-label" >Pricing</label>
            <input required type="number" name="listing[price]" class="form-control" placeholder="Per day costing"/>
            <div class="invalid-feedback">
               Enter valid Price
            </div>
            <br>
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="location" class="form-label">Location</label>
        <input required type="text" name="listing[location]" class="form-control"/>
        <div class="valid-feedback">
            Looks Good!!
        </div>
        <div class="invalid-feedback">
           Location Mandatory
        </div>
            </div>
            
    <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input type="text" name="listing[country]"  required class="form-control"/>
        <div class="valid-feedback">
            Looks Good!!
        </div>
        <div class="invalid-feedback">
           Country Mandatory
        </div>
    </div>
        
        </div>
        <button class=" add-button btn " >Upload</button>
        <br>
        <br>
        <br>
    </form>
</div>
</div>
</body>
