<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-6 offset-3">
            <br>
            <h3>Login</h3>
            <form  method="post" action="/login" class="needs-validation" novalidate>
                <div>
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" placeholder=" Enter Username" id="username" required/>
                    <div class="invalid-feedback">
                      Enter Username
                    </div>
                    <br>
                </div>

                <div>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter password" id="password" required/>
                
                    <div class="invalid-feedback">
                     Enter valid password
                    </div>
                    <br>
                </div>

                <button class=" add-button btn " >Login</button>
            </form>
        </div>
    </div>